SCPP/Client/Administrador/LAMOSA.SCPP.Client.View.Administrador/Service References/svcUsuario/Lamosa21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="Lamosa.SCPP.ServiceManager.Interfaces" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="Lamosa.SCPP.ServiceManager.Interfaces" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Lamosa.SCPP.ServiceManager.Interfaces/Imports">
      <xsd:import schemaLocation="http://villa.sasant/SCPP/Lamosa.SCPP.ServiceManager.ClassImpl.UsuarioServiceManager.svc?xsd=xsd2" namespace="Lamosa.SCPP.ServiceManager.Interfaces" />
      <xsd:import schemaLocation="http://villa.sasant/SCPP/Lamosa.SCPP.ServiceManager.ClassImpl.UsuarioServiceManager.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://villa.sasant/SCPP/Lamosa.SCPP.ServiceManager.ClassImpl.UsuarioServiceManager.svc?xsd=xsd1" namespace="Lamosa.SCPP.Common.Entities.ClassImpl" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioServiceManager_Loguear_InputMessage">
    <wsdl:part name="parameters" element="tns:Loguear" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManager_Loguear_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoguearResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManager_Desloguear_InputMessage">
    <wsdl:part name="parameters" element="tns:Desloguear" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManager_Desloguear_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesloguearResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManager_CambiarPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPassword" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManager_CambiarPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManager_GetSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSesion" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManager_GetSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioServiceManager">
    <wsdl:operation name="Loguear">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManager/Loguear" message="tns:IUsuarioServiceManager_Loguear_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManager/LoguearResponse" message="tns:IUsuarioServiceManager_Loguear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Desloguear">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManager/Desloguear" message="tns:IUsuarioServiceManager_Desloguear_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManager/DesloguearResponse" message="tns:IUsuarioServiceManager_Desloguear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManager/CambiarPassword" message="tns:IUsuarioServiceManager_CambiarPassword_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManager/CambiarPasswordResponse" message="tns:IUsuarioServiceManager_CambiarPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSesion">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManager/GetSesion" message="tns:IUsuarioServiceManager_GetSesion_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManager/GetSesionResponse" message="tns:IUsuarioServiceManager_GetSesion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>