SCPP/Client/Administrador/LAMOSA.SCPP.Client.View.Administrador/Service References/svcTipoAlerta/Lamosa2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Lamosa.SCPP.ServiceManager.Interfaces" elementFormDefault="qualified" targetNamespace="Lamosa.SCPP.ServiceManager.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://villa.sasant/SCPP/Lamosa.SCPP.ServiceManager.ClassImpl.TipoAlertaServiceManager.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoAlerta" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerResult" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>