SCPP/Client/HandHeld/LAMOSA.SCPP.Client.View.HandHeld/Web References/svcUsuario/Lamosa0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="Lamosa.SCPP.ServiceManager.Interfaces" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="Lamosa.SCPP.ServiceManager.Interfaces" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Lamosa.SCPP.ServiceManager.Interfaces/Imports">
      <xsd:import schemaLocation="http://cpsasa.sasant/SVCSCPP/Lamosa.SCPP.ServiceManager.ClassImpl.UsuarioServiceManagerWM.svc?xsd=xsd2" namespace="Lamosa.SCPP.ServiceManager.Interfaces" />
      <xsd:import schemaLocation="http://cpsasa.sasant/SVCSCPP/Lamosa.SCPP.ServiceManager.ClassImpl.UsuarioServiceManagerWM.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cpsasa.sasant/SVCSCPP/Lamosa.SCPP.ServiceManager.ClassImpl.UsuarioServiceManagerWM.svc?xsd=xsd1" namespace="Lamosa.SCPP.Common.Entities.ClassImpl" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioServiceManagerWM_Loguear_InputMessage">
    <wsdl:part name="parameters" element="tns:Loguear" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManagerWM_Loguear_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoguearResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManagerWM_Desloguear_InputMessage">
    <wsdl:part name="parameters" element="tns:Desloguear" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManagerWM_Desloguear_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesloguearResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManagerWM_CambiarPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPassword" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManagerWM_CambiarPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManagerWM_GetSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSesion" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceManagerWM_GetSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioServiceManagerWM">
    <wsdl:operation name="Loguear">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManagerWM/Loguear" message="tns:IUsuarioServiceManagerWM_Loguear_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManagerWM/LoguearResponse" message="tns:IUsuarioServiceManagerWM_Loguear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Desloguear">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManagerWM/Desloguear" message="tns:IUsuarioServiceManagerWM_Desloguear_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManagerWM/DesloguearResponse" message="tns:IUsuarioServiceManagerWM_Desloguear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarPassword">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManagerWM/CambiarPassword" message="tns:IUsuarioServiceManagerWM_CambiarPassword_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManagerWM/CambiarPasswordResponse" message="tns:IUsuarioServiceManagerWM_CambiarPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSesion">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManagerWM/GetSesion" message="tns:IUsuarioServiceManagerWM_GetSesion_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IUsuarioServiceManagerWM/GetSesionResponse" message="tns:IUsuarioServiceManagerWM_GetSesion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>