SCPP/Client/Administrador/LAMOSA.SCPP.Client.View.Administrador/Service References/svcProduccionPieza/Lamosa2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="Lamosa.SCPP.ServiceManager.Interfaces" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="Lamosa.SCPP.ServiceManager.Interfaces" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Lamosa.SCPP.ServiceManager.Interfaces/Imports">
      <xsd:import schemaLocation="http://villa.sasant/SCPP/Lamosa.SCPP.ServiceManager.ClassImpl.ProduccionPiezaServiceManager.svc?xsd=xsd0" namespace="Lamosa.SCPP.ServiceManager.Interfaces" />
      <xsd:import schemaLocation="http://villa.sasant/SCPP/Lamosa.SCPP.ServiceManager.ClassImpl.ProduccionPiezaServiceManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://villa.sasant/SCPP/Lamosa.SCPP.ServiceManager.ClassImpl.ProduccionPiezaServiceManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://villa.sasant/SCPP/Lamosa.SCPP.ServiceManager.ClassImpl.ProduccionPiezaServiceManager.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProduccionPiezaServiceManager_ObtenerSituacionActual_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSituacionActual" />
  </wsdl:message>
  <wsdl:message name="IProduccionPiezaServiceManager_ObtenerSituacionActual_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSituacionActualResponse" />
  </wsdl:message>
  <wsdl:message name="IProduccionPiezaServiceManager_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IProduccionPiezaServiceManager_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:portType name="IProduccionPiezaServiceManager">
    <wsdl:operation name="ObtenerSituacionActual">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IProduccionPiezaServiceManager/ObtenerSituacionActual" message="tns:IProduccionPiezaServiceManager_ObtenerSituacionActual_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IProduccionPiezaServiceManager/ObtenerSituacionActualResponse" message="tns:IProduccionPiezaServiceManager_ObtenerSituacionActual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IProduccionPiezaServiceManager/Obtener" message="tns:IProduccionPiezaServiceManager_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="Lamosa.SCPP.ServiceManager.Interfaces/IProduccionPiezaServiceManager/ObtenerResponse" message="tns:IProduccionPiezaServiceManager_Obtener_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>